*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-main: #7d8da1;
    --color-font: #fff;
    --color-dark-variant: #f6f6f9;
    --color-background: #ddd;
    --color-info-dark: #7d8da1;

}

.contenedor{
    background-color: var(--color-font);
    display: flex;
    min-height: 100vh;
}

.form{
    background: var(--color-main);
    margin: auto;
    width: 900%;
    max-width: 400px;
    padding: 2.5em 3em;
    box-shadow: 0 5px 10px -5px rgba(255, 255, 255, 30%);
    text-align: center;
}

.form__logo{
    height: 6rem;
    padding-bottom: 1rem;
}

.form__title{
    color: var(--color-font);
    font-size: 2rem;
}

.form__container{
    margin-top: 2em;
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
}

.form__input{
    width: 100%;
    background: none;
    color: var(--color-font);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-font);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
}

.form__label{
    color: var(--color-font);
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__submit{
    background: var(--color-font);
    color: #000;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
}

.form__text{
    position: absolute;
    color: var(--color-font);
    left: 0;
    top: .8rem;
    font-size: .8rem;
}

.form__link{
    padding-bottom: 1rem;
}

.form__registrarse{
    position: relative;
    top: 2rem;
    left: 40%;
    padding-top: 100px;
    color: var(--color-font);
    text-decoration: none;
}
